.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
}

.text-gray{
    color:#7F91AD;
}

p{
    font-size:1.2rem;
}

.text-aqua{
    color:#6DFBFB;
    font-weight:700;
}

span.bold{
    font-weight:700
}

span.span-white{
    color:white;
}

.value-eth::before{
    content:url(./src/assets/icon-ethereum.svg);
    margin-right:0.5rem;
}

.days-left::before{
    content:url(./src/assets/icon-clock.svg);
    margin-right:0.5rem;
}